/*
Global CSS styles
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*Font*/
  --font-inconsolata: "Inconsolata", monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inconsolata);
}
