/*
Global CSS styles
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*Font*/
  --font-inconsolata: "Inconsolata", monospace;

  /*Colors*/
  --nav-blue: #03012d;
  --white: #ffffff;
  --btn-blue: #4455da;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inconsolata);
}

ul {
  list-style: none;
}
