/*
Global CSS styles
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*Font*/
  --font-inconsolata: "Inconsolata", monospace;

  /*Colors*/
  --nav-blue: #03012d;
  --white: #ffffff;
  --btn-blue: #339ecc;
  --btn-hover-blue: #65e2d9;
  --profile-link: #4455da;
  --profile-hover-link: #4f63fe;
  --user: #f5f5f5;
  --loading: #7280a7;
}

html,
body {
  background-color: var(--white);
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inconsolata);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Centered flex row container*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Centered flex column container*/
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
