/*
CSS Module for Home component
*/

/*users list section*/
.usersSec {
  padding: 2rem 0;
}

/*buttons container*/
.buttonsCont {
  gap: 2rem;
  margin-top: 1rem;
}

.button {
  gap: 0.5rem;
  background-color: var(--btn-blue);
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem 2.5rem;
}

.button:hover {
  background-color: var(--btn-hover-blue);
}

@media (min-width: 62.5rem /*1000px*/) {
  /*users list section*/
  .usersSec {
    padding: 3rem 0;
  }
}
