/*
CSS Module for UsersTable component
*/

/*header and users container*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  width: 80%;
}

/*users list header*/
.header {
  background-color: #1c2431;
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.user {
  background-color: var(--user);
  margin-bottom: 0.8rem;
}

.header,
.user {
  padding: 1rem;
}

/*user profile image*/
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*user profile container*/
.profileCont {
  background-color: var(--profile-link);
  color: var(--white);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.gitHubIcon {
  width: 20px;
  height: 20px;
}
