/*
CSS Module for UsersTable component
*/

/*header and users container*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  width: 80%;
}

/*users list header*/
.header {
  background-color: #1c2431;
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.user {
  background-color: var(--user);
  margin-bottom: 0.8rem;
  min-height: 6rem;
}

.header,
.user {
  padding: 1rem;
}

/*user profile image*/
.avatar,
.dummyAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*user dummy profile image*/
.dummyAvatar {
  background-color: var(--loading);
}

/*user profile image and gitHub profile container*/
.profileCont {
  background-color: var(--profile-link);
}

.profileCont:hover {
  background-color: var(--profile-hover-link);
}

/*user profile container when loading data*/
.dummyProfile {
  background-color: var(--loading);
  cursor: none;
}

.dummyProfile,
.profileCont {
  color: var(--white);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.gitHubIcon {
  width: 20px;
  height: 20px;
}

@media (min-width: 62.5rem /*1000px*/) {
  /*header and users container*/
  .container {
    width: 60%;
  }

  /*users list header*/
  .header {
    font-size: 1.5rem;
  }

  /*user profile image*/
  .avatar,
  .dummyAvatar {
    width: 65px;
    height: 65px;
  }

  /*user name*/
  .name {
    font-size: 1.2rem;
  }

  /*user profile container*/
  .profileCont {
    padding: 1rem 1.2rem;
  }

  .gitHubIcon {
    width: 25px;
    height: 25px;
  }
}
